.feature-game {
  min-height: 550px;
  background-color: var(--clr-primary-dark-blue);
  position: relative;
  padding-bottom: 50px;
}

.pwe-fix-position {
  position: relative;
  top: -80px;
}

.feature-content {
  width: 1110px;
  height: 115px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.feature-content h1 {
  font-family: var(--font-chakra-petch);
  text-transform: uppercase;
}
.feature-content p {
  margin: 40px 0;
}
.feature-carousel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
  margin-top: 140px;
}
.feature-carousel img {
  margin-right: 20px;
}
.feature-carousel::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.feature-carousel {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@media screen and (max-width: 1110px) {
  .feature-game {
    height: 500px;
    height: auto;
  }
  .pwe-fix-position {
    position: static;
    top: 0px;
  }
  .feature-content {
    width: 100%;
    margin-top: 100px;
  }
}

/* large screen */
@media screen and (max-width: 992px) {
  .feature-content {
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
  }
}

/* large screen */
@media screen and (max-width: 768px) {
  .feature-content {
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
  }
}
