.navbar-menu {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #4543a9;
  padding: 0 10px;
  transition: var(--transition);
}

.navbar-btn-container {
  width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 10;
  display: none;
}

.signin-btn {
  background-color: var(--clr-btn-purple);
  box-shadow: 0px 3px 0px var(--clr-btn-drop-shadow-purple);
}

@media screen and (max-width: 900px) {
  .navbar-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--clr-primary-blue);
    width: 100%;
  }
  .navbar-btn-container {
    margin-bottom: 20px;
  }
  .burger-icon {
    display: block;
  }
  .toggle-navbar {
    height: 250px;
    overflow: visible;
  }
}
@media screen and (max-width: 567px) {
  .toggle-navbar {
    height: 450px;
    overflow: visible;
  }
}
