/*
=============== 
Variables
===============
*/

:root {
  /* primary colors*/
  --clr-primary-purple: #9101f6;
  --clr-primary-blue: #280b70;
  --clr-primary-dark-blue: #00003e;
  --clr-primary-cold-blue: #0d0d48;
  --clr-primary-semi-dark-blue: #0d0d59;
  --clr-primary-lightBlue: #03d6f9;
  --clr-primary-pink: #ff0279;
  --clr-primary-cyan: #00fedf;
  /* btn colors*/
  --clr-btn-blueish: #4e01ce;
  --clr-btn-purple: #7400d3;
  --clr-btn-drop-shadow-purple: #57049a;
  --clr-btn-drop-shadow-blueish: #4707b2;
  /* text color */
  --clr-text-grey: #d3d3fe;
  /* font family */
  --font-roboto: "Roboto", sans-serif;
  --font-chakra-petch: "Chakra Petch", sans-serif;

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Reset Browser Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-roboto);
  color: #fff;
}

/*
=============== 
Chart Styles
===============
*/

h1 {
  font-size: 76px;
  line-height: 91.2px;
}
h2 {
  font-size: 57px;
  line-height: 68.4px;
}
h3 {
  font-size: 43px;
  line-height: 51.6px;
}
h4 {
  font-size: 32px;
  line-height: 38.4px;
}
h5 {
  font-size: 24px;
  line-height: 28.8px;
}
h6 {
  font-size: 18px;
  line-height: 21.6px;
}
p {
  font-size: 18px;
  line-height: 25.2px;
  color: #dce6ff;
}
.extra-large-text {
  font-size: 24px;
  line-height: 33.6px;
}
.large-text {
  font-size: 20px;
  line-height: 28px;
}
.medium-text {
  font-size: 18px;
  line-height: 25.2px;
}

.normal-text {
  font-size: 16px;
  line-height: 22.4px;
}

.small-text {
  font-size: 14px;
  line-height: 19.6px;
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 57px;
    line-height: 68.4px;
  }
  h2 {
    font-size: 43px;
    line-height: 51.6px;
  }
  h3 {
    font-size: 32px;
    line-height: 38.4px;
  }
  h4 {
    font-size: 24px;
    line-height: 28.8px;
  }
  h5 {
    font-size: 18px;
    line-height: 21.6px;
  }
  h6 {
    font-size: 14px;
    line-height: 16.8px;
  }
  p {
    font-size: 16px;
    line-height: 22.4px;
  }
}
