.btn {
  min-width: 125px;
  max-width: 250px;
  height: 56px;
  padding: 15px 30px;
  border: none;
  border-radius: 28px;
  background-color: var(--clr-btn-blueish);
  box-shadow: 0px 2px 0px var(--clr-btn-drop-shadow-blueish);
  cursor: pointer;
  text-transform: uppercase;
  font-family: var(--font-roboto);
  font-weight: 900;
  transition: var(--transition);
}

.btn:hover {
  box-shadow: 0px 2px 8px 0px var(--clr-primary-cyan);
}

.btn:active {
  box-shadow: none;
}

.signin-btn {
  background-color: var(--clr-btn-purple);
  box-shadow: 0px 3px 0px var(--clr-btn-drop-shadow-purple);
}

.active {
  color: var(--clr-primary-cyan);
}
